.contact-div{
    background-color: #4A50BB;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 20px;
    height: 90vh;
    position: relative;
    outline:none;
    border:none;
    

}
.contact-div:before{
    content:'';
    position:absolute;
    bottom: 0px;
    left: 0;
    border-collapse: collapse;
    width: 100%;
    height: 200px;
    background-color: #fff;
    clip-path: polygon(100% 20%, 30% 100%,100% 100%);
}
.contact-form{
    display: flex;
    height: 450px;
    position: absolute;
    flex-direction: column;
    left:40px;
    top:-10px;
    background-color: #E1E9F6;
    bottom:80px;
    border-top-left-radius: 20px;
    width: 400px;
    border-top-right-radius: 20px;
    
    border-bottom-left-radius: 20px;
   
}
.contact-div > :nth-child(1){
    margin-top:50px;
    width:400px;
}
.side-row > h1{
    color:white;
    text-transform: capitalize;
}
.side-row >p{
    color:#fff;
    width: 300px;
    padding:10px;
}
textarea{
    background-color: #E1E9F6;
    outline:none;
    border: none;
    margin:0 auto;
    border-radius: 6px;
    text-transform: capitalize;
    width: 300px;
    text-align: center;
    height: 200px;
    margin-bottom:10px;
    margin-top:10px;
    box-shadow: 2px 8px 10px 2px rgba(0, 0,0, 0.4);
} 
.contact-form > button{
    background-color: #E1E9F6;
    box-shadow: 2px 8px 10px 2px rgba(0, 0,0, 0.4);

    width:130px;
    border: none;
    padding:10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 8px 10px 2px rgba(0, 0,0, 0.4);
    
    margin-left: 170px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 0;
}
.contact-form > input[type="text"]
{ 
    margin-top:4px;
    margin:10px auto;
    border:none;
    border-bottom: 1px solid gray;
    outline:none;
    width: 200px;
    color:inherit;
    background-color: transparent;
}
.contact-form > label{
    position:relative;
    top:-40px;
    bottom:20px;
    text-transform: capitalize;
    font-size:14px;
  left:-65px;
  right:10px;
    margin:5px;
    padding:5px;
    
    pointer-events: none;
    transition: .3s ease-out;
    ;
}
input:focus + label{
transform: translateY(-18px);
color:#ff652f
}